@import "../styles/colors";
@import "../styles/settings";
@font-face {
  font-family: "Droid Sans";
  src: url(../fonts/DroidSans-Regular.ttf);
  font-weight: 400;              /* разная плотность */
  font-style: normal;
}

@font-face {
  font-family: "Droid Sans";
  src: url(../fonts/DroidSans-Bold.ttf);
  font-weight: 700;              /* разная плотность */
  font-style: normal;
}

body {
  font-family: @font-family;
  padding: 0;
  margin: 0;
}

button {
  font-family: inherit;
  font-size: 1em;
}

input {
  font-family: inherit;
  font-size: 1em;
}

.error {
  padding: 0;
  list-style: none;
  color: @error;
  text-align: center;
}
