@import "../styles/colors";

.button {
  border-radius: 2px;
  border: 0;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  padding: 5px 15px;
  text-decoration: none;
  transition-duration: 0.1s;
  transition-property: transform;
}


.blue-button {
  background-color: @blue;
  color: @white;
}

.white-button {
  background-color: @white;
  color: @blue;
}

.big-button {

  width: 225px;
  padding: 5px 15px;
}

.big-button-a {
  width: 225px;
  padding: 3px 0;
}

.event-button {
    font-size: small;
    width: 100%;
    height: 18%;
    padding: 0 5px;
}

.small-button {
    font-size: small;
    padding: 0 5px;
}

.small-button-a {
    font-size: small;
    padding: 0 5px;
}
.small-plus-button {
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  font-size: small;
    padding: 0 10px;
}
