@import "../styles/colors";

.calendar-row {
  width: 1000px;
  height: 96px;
  position: relative;
}

.calendar-row:last-child .day {
  border-bottom: 1px solid @gray;
}

.calendar-table {
  width: 1000px;
  margin: auto;
}
