@import url('../styles/colors');

.button-set {
  float: right;
}

.head-menu-container {
  width: 1000px;
  position: relative;
  background-color: @light-gray;
}

.header-date {
  color: @font-color;
  float: left;
  font-weight: 300;
  font-size: 25px;
}

.head-menu-wrap {
  padding: 5px 20px 5px 20px;
  height: 50px;
  line-height: 50px;
}

.head-menu-wrap::content {
  line-height: normal;
  display: inline-block;
  vertical-align: middle;
}

.head-menu-day-wrap {
  display: inline-block;
  width: 14.17%;
  padding-bottom: 1px;
  padding-left: 1px;
}

.head-menu-day {
  border: 1px solid @gray;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background: @week-color;
}

.button-set button{
  margin-left: 5px;
}
