@import "../styles/colors";

.day {
  color: @font-color;
  display: inline-block;
  border-top: 1px solid @gray;
  border-right: 1px solid @gray;
  border-radius: 1px;
  width: 12.77%;
  height: 87%;
  margin: 0;
  padding: 7px;
  background: @day-background;
}

.day:last-child {

}

.day:first-child {
  border-left: 1px solid @gray;
}

.weekend {
  background-color: @week-color;
}

.events {
  position: absolute;
  display: block;
  width: 12.8%;
  padding: 0;
  margin: 0;
}

.s0 {
  top: 27%;
}

.s1 {
  top: 43.5%;
}

.s2 {
  top: 60%;
}

.s3 {
  top: 77%;
}

.day-date {
  font-size: 15px;
  text-align: center;
  position: absolute;
  display: inline-block;
  padding: 1px;
  width: 18px;
  margin-left: -2px;
  margin-top: -4px;
}

.today {
  border: none;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;
  background: @blue;
}
