@import "../styles/colors";
@import "../styles/settings";

.Dialog {
  border: 1px solid @gray;
  border-radius: 3px;
}

.DialogModalOpen {
  overflow: hidden; /* no body scroll */
}

.Dialog .DialogHeader {
  text-align: center;
  background-color: @white;
  border-radius: 3px;
  color: @font-color;
  font-family: @font-family;
  font-size: 42px;
  margin: 0;
  padding: 10px 10px 10px 20px;

}

.Dialog .DialogBody {
  border-bottom: 1px solid lightgray;
  border-top: 1px solid lightgray;
  max-height: 50%;
  overflow-x: hidden;
  padding: 0;
  text-align: center;
  font-size: 18px;
}

.Dialog .DialogFooter {
  padding: 10px;
  text-align: right;
}

.DialogModal {
	background: rgba(0, 0, 0, 0.7);
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1;
}

.DialogModal .DialogModalWrap {
    border-radius: 3px;
	background: white;
	margin: 5% auto;
	width: 550px;
}

.DialogDismiss {
  color: gray;
  cursor: pointer;
  text-decoration: underline;
}

.DialogFooter .Button {
  margin: 10px;
}
