@import "../styles/colors";

.dialog-add-event{
   text-align: left;
  padding: 10px 10px 10px 10px
}
.dialog-add-event label {
  display: block;
  margin: 15px 15px 10px 0;
  font-size: small;
}

.dialog-add-event .input-dialog{
  font-size: 17px;
  padding: 8px;
  width: 97%;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;
  resize:none
}

.dialog-add-event  .from-to{
  display: inline-block;
}
.to-margin{
  margin-left: 54px;
}

.small-input{
  font-size: 17px;
  padding: 8px;
  width: 22px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;
  resize:none
}

.small-padding{
  padding: 0 8px 0 8px;
}

.invalid-title {
  box-shadow: @error 0 0px 15px, @error 0 0px !important;
}

.react-datepicker__input-container input{
  padding: 8px;
    font-size: 17px;
    border: none;
    border-radius: 1px;
    width: 90px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
}
