@import "../styles/colors";
.Input {
  border: none;
  padding: 8px;
  font-size: 20px;
  background-color: @white;
  border-radius: 1px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
}
.textArea{
  font-size: 15px;
  font-family: 'Droid Sans';
  padding: 8px;
  width: 233px;
height: 50px;
margin: 0;
border: none;
box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;

}
textarea::-webkit-input-placeholder {
color: @placeholder-color;
}
