@import "../styles/colors";

.loginPage-container {
  width: 350px;
  margin: 0 auto;
}

.loginPage-row {
  padding: 10px 20px 10px 20px;
  text-align: center;
  ::-webkit-input-placeholder {
    color: @placeholder-color;
  }
  ::-moz-placeholder {
    color: @placeholder-color;
  }
  /* Firefox 19+ */
  :-moz-placeholder {
    color: @placeholder-color;
  }
  /* Firefox 18- */
  :-ms-input-placeholder {
    color: @placeholder-color;
  }
}

.loginPage-button-margin {
  margin-right: 20px;
  display: inline-block;
}

.loginPage-container .padding {
  padding-bottom: 15px;
}

.loginPage-container h1 {
  font-size: 50px;
}

