@import "../styles/colors";

.menu-left {
  display: inline-block;
  float: left;
  font-size: 24px;
  color: @font-color;
}

.menu-right {
  display: inline-block;
  float: right;
  padding-left: 20px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.Menu {
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;
  position: relative;
  padding: 10px;
  margin-bottom: 10px;

}
