@import url('../styles/colors');

.MoreDay-container {
  height: 250px;
  color: @font-color;
}

.MoreDay-column {
  float: left;
  overflow: scroll;
  width: 46.25%;
  height: 100%;
  padding: 10px 10px 10px 10px
}

.MoreDay-column:first-child {
  border-right: 1px solid @gray;
}

.MoreDay-plus-button {
  float: right;
  display: inline-block;
  margin-right: -7px;
}

.clearfix:after {
  content: '.';
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}

.clearfix-1 {
  clear: both;
}

.MoreDay-day-list {
  text-align: left;
  vertical-align: middle;
}

.MoreDay-event-title-wrap {
  display: inline-block;
  height: 30px;
  width: 82%;
  line-height: 30px;
  padding: 2px 0 2px 0;
  background-color: @light-gray;
  border-top: 1px solid @gray;
}

.MoreDay-day-list:last-child {
  .MoreDay-event-title-wrap {
    border-bottom: 1px solid @gray;
  }

}

.MoreDay-event-title {
  color: @blue-font;
  background-color: @lite-blue;
  border-left: 2px solid @blue;
  padding: 0 3px 0 3px;
}

.MoreDay-event-title::content {
  line-height: normal;
  display: inline-block;
  vertical-align: middle;
}

.MoreDay-event-title div {

}

.MoreDay-time {
  font-size: small;
  font-weight: 100;
  float: left;
  height: 35px;
  line-height: 35px;
  padding: 0 6px 0 0;
}

.MoreDay-time::content {
  line-height: normal;
  display: inline-block;
  vertical-align: middle;
}

.MoreDay-info {
  text-align: left;
  color: @font-color;
}

.MoreDay-info-title {
  overflow-wrap: break-word;
  font-weight: 800;
  font-size: 20px;
}

.MoreDay-changed-form {
  resize: none;
  font-size: 15px;
  font-weight: 400;
  color: @font-color;
  width: 98%;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;
}

.MoreDay-invalid-field {
  min-height: 20px;
  box-shadow: @error 0 0px 15px, @error 0 0px !important;
}
