@placeholder-color: rgb(67, 64, 64);
@blue: rgba(93, 138, 197, 0.86);
@lite-blue: rgba(189, 205, 245, 0.86);
@blue-font: rgba(74, 86, 166, 0.71);
@white: rgba(255, 255, 255, 0.86);
@error: rgba(247, 95, 103, 0.86);
@gray: rgba(211, 211, 211, 0.86);
@light-gray: rgba(245, 245, 245, 0.96);
@day-background: rgba(234, 231, 239, 0.14);
@font-color: rgba(71, 71, 71, 0.86);
@week-color: rgba(243, 243, 243, 0.76);

